.font {
    font-family: 'Poppins', sans-serif;
}


/* Part 1 - hero section - behind the lens */

.background_box {
    background-image: url("/assets/aboutHero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
    /* opacity: 50%; */
}

.overlayText {
    margin-top: 250px;
}


/*  Part 2 - a little bit about me */

.aboutsection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutText {
    margin-top: 80px;
}

.aboutSection1 {
    margin-bottom: 50px;
}


/* Part 3 - what fuels me */

.aboutImages {
    width: 100%;
    /* height: 350px; */
    height: auto;
    margin-left: 150px;
}

.nav-link {
    background-color: transparent!important;
    color: black !important;
}

.btn-link {
    color: #9F8772 !important;
}

.nav-link:hover {
    color: #9F8772!important;
}

.navpillstext1 {
    margin-top: 40px;
    padding-top: 20px;
    margin-left: 50px;
}

.navpillstext {
    padding-top: 20px;
}

.navPills {
    margin: 0 auto;
}