<nav id="nav" class="navbar navbar-expand-lg bg-light d-flex justify-content-start bg-transparent">


    <div class="imgbox">
        <img class="navimg" src="https://pngimg.com/uploads/camera_lens/camera_lens_PNG91.png" alt="">
    </div>
    <div class="padd">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">


      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white rounded" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white rounded" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>

                    <ul class="dropdown-menu bg-transparent border-0 ">
                        <li><a class="dropdown-item text-white a rounded" routerLink="/couples">Couples</a></li>
                        <li><a class="dropdown-item text-white a rounded" routerLink="/people">People</a></li>
                        <li><a class="dropdown-item text-white a rounded" routerLink="/travel">Travel</a></li>
                        <li><a class="dropdown-item text-white a rounded" routerLink="/dogs">Dogs</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white rounded" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            Info
          </a>
                    <ul class="dropdown-menu bg-transparent border-0 ">
                        <li><a class="dropdown-item text-white a rounded" routerLink="/about">About</a></li>
                        <li><a class="dropdown-item text-white a rounded" routerLink="/testimonials">Testimonials</a></li>
                    </ul>
                </li>
                <li class="nav-item">

                    <a class="nav-link text-white rounded" routerLink="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white rounded" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white rounded" routerLink="/cart">Cart <span><i class="fa-solid fa-cart-plus"></i></span></a>
                </li>
            </ul>
        </div>
    </div>


</nav>