<div class="lightbox">
    <div class="multi-carousel">
      <div class="multi-carousel-inner">
        <div class="multi-carousel-item">
          <img
            src="./assets/dusanpictures/Claire.jpg"
            data-mdb-img="./assets/dusanpictures/Claire.jpg"
            alt=""
            class="w-100"
          />
        </div>
        <div class="multi-carousel-item">
          <img
          src="./assets/dusanpictures/depo.jpg"
          data-mdb-img="./assets/dusanpictures/depo.jpg"
            alt=""
            class="w-100"
          />
        </div>
        <div class="multi-carousel-item">
          <img
          src="./assets/dusanpictures/enjoy.jpg"
          data-mdb-img="./assets/dusanpictures/enjoy.jpg"
            alt=""
            class="w-100"
          />
        </div>
        <div class="multi-carousel-item">
          <img
          src="./assets/dusanpictures/INT.jpg"
          data-mdb-img="./assets/dusanpictures/INT.jpg"
            alt=""
            class="w-100"
          />
        </div>
        <div class="multi-carousel-item">
            <img
            src="./assets/dusanpictures/istockphoto.jpg"
            data-mdb-img="./assets/dusanpictures/istockphoto.jpg"
              alt=""
              class="w-100"
            />
          </div>
          <div class="multi-carousel-item">
            <img
            src="./assets/dusanpictures/jason.jpg"
            data-mdb-img="./assets/dusanpictures/jason.jpg"
              alt=""
              class="w-100"
            />
          </div>
          <div class="multi-carousel-item">
            <img
            src="./assets/dusanpictures/norway.jpg"
            data-mdb-img="./assets/dusanpictures/norway.jpg"
              alt=""
              class="w-100"
            />
          </div>
          <div class="">
            <img
            src="./assets/dusanpictures/traveling.jpg"
            data-mdb-img="./assets/dusanpictures/traveling.jpg"
              alt="Winter Landscape"
              class="w-100"
            />
          </div>
          <div class="multi-carousel-item">
            <img
            src="./assets/dusanpictures/travellingw.jpg"
            data-mdb-img="./assets/dusanpictures/travellingw.jpg"
              alt=""
              class="w-100"
            />
          </div>
          <div class="multi-carousel-item">
            <img
            src="./assets/dusanpictures/winter.jpg"
            data-mdb-img="./assets/dusanpictures/winter.jpg"
              alt=""
              class="w-100"
            />
          </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        tabindex="0"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        tabindex="0"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>
