<div class="container ">
    <h1 style="font-family:Inspiration, cursive; font-size: 5rem; text-align: center;"> Our services</h1>
<div class="row row-col-2 justify-content-center gap-3 p-3 ">
<div *ngFor="let product of products;" class="card col-6" style="width: 20rem; box-shadow: 0 2px 3px black;">
    <img src="{{product.img}}" class="card-img-top" style="height: 12rem;">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description  }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{product.price | currency:"EUR"}}</li>
      
    </ul>
    
    <div class="card-body ">
        <div class="d-flex gap-3">
        
        <button type="button" class="btn btn-success" (click)="addToCart(product)">Order</button>
        </div>
    </div>
  
  
  </div>
</div>
</div>

