.container{
height: 200px;
}


   

.text-start {
  
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.text-end {
    
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;

}