.text-start {
    margin-left: 5px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}

.text-end {
    margin-right: 5px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}