* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row .column {
    flex: 33, 3%;
    width: auto;
    overflow: hidden;
}

.row .column img {
    width: 100%;
    height: 100%;
}

.image {
    display: block;
    width: 100%;

}