<div class="container text-center albumsSection">
    <div class="row">
        <div class="col albums1">
            <div class="card text-bg-dark">
                <img src="../assets/album1-cover.jpg" class="card-img albumimg" alt="...">
                <div class="card-img-overlay">
                    <div class="position-absolute bottom-0 start-50 translate-middle-x">
                        <h5 class="card-title">Nikola' Album</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col albums2">
            <div class="card text-bg-dark">
                <img src="../assets/album2-cover.jpg" class="card-img albumimg" alt="...">
                <div class="card-img-overlay">
                    <div class="position-absolute bottom-0 start-50 translate-middle-x">
                        <h5 class="card-title">Viktoria' Album</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>